.el-form {
    .el-input__inner, .el-textarea__inner {
        background    : linear-gradient(159deg, #252532 0%, #23232d 100%);
        border-radius : 0;
        border        : none;
        color         : #fafafc;
        padding-left  : 65px !important;
        font-weight   : 500;
        font-family   : var(--font-family-sans-serif);
        box-shadow    : inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);

        &:focus {

        }
    }

    .el-textarea__inner {
        padding : 15px 65px;
    }

    .el-input__inner {
        height      : 50px;
        line-height : 50px;
    }

    .el-input__prefix, .prefix-icon {
        height     : 50px;
        width      : 50px;
        background : #20202a;
        color      : #8c8c8e;
        text-align : center;
        transition : 0.4s ease-in-out;
        left       : 0;
        font-size  : 16px;
    }

    .el-form-item__content {
        position : relative;

        .prefix-icon {
            position : absolute;
            top      : 0;
            height   : 100%;

            i {
                margin-top : 20px;
            }
        }
    }

    .el-input__inner:focus {
        outline : none;

        & + .el-input__prefix {
            background : #ffc107;
            color      : #20202a;
        }
    }

    .el-textarea__inner:focus {
        outline : none;

        & + .prefix-icon {
            background : #ffc107;
            color      : #20202a;
        }
    }

    .el-form-item {
        margin-bottom : 30px;

        &.is-error {
            .el-input__prefix {
                background : #b03060 !important;
                color      : #ffffff !important;
            }

            .prefix-icon {
                background : #b03060 !important;
                color      : #ffffff !important;
            }
        }
    }
}